# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
pika/node_modules

# testing
/coverage

# production
pika/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JetBrains
/.idea

# OS specific files
.DS_*

# build files
pika/build

# installed dependencies
pika/node_modules