/* Basic Stuff */
.content-wrapper{
	width: 95%;
	margin: 20px auto;
}

.content-wrapper h1{
	font-size: 50px;
	color: #343a40;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.content-wrapper h2{
	font-weight: bold;
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-size: 1.75rem;
}

.content-wrapper h3{
	font-weight: normal;
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-size: 1.75rem;
}

.content-wrapper h4{
	font-weight: normal;
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

.content-wrapper h5{
	font-weight: normal;
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
}

/* Explore Page */

#sliders{
	position: relative;
}

input[type="range"][multiple]{
	display: block;
	width: 100%;
	margin: 0;
	height: 2em;
	cursor: pointer;
	z-index: 7;
}

input[type="range"][multiple]::-moz-range-thumb{
	width: 50px;
	height: 30px;
	background: #0d71bb;
	border: none;
	box-shadow: none;
	border-radius: 5px;
}

input[type="range"][multiple]:focus { 
	outline-width: 0; 
	border: none;
}

#slider-wrapper { 
	margin-top: -2em; 
} 

input[type="range"][multiple] + input[type="range"][multiple]::-moz-range-track{ 
	opacity: 0; 
}

input[type="range"][multiple].minSlider::-moz-range-thumb{
	background: #db2828;
	width: 30px;
}

input[type="range"][multiple].maxSlider::-moz-range-thumb{
	background: #0ea432;
	width: 30px;
}

output { 
	position: absolute;
	background: #000;
	padding: 2px 6px; 
	text-align: center; 
	color: white; 
	border-radius: 5px; 
	display: inline-block; 
	font: bold 15px/30px Georgia;
	bottom: 140%;
	left: 50%;
	margin-left: -30px;
}
output:after { 
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

/* Result Page */

#result-page-node-set-section{
	position: relative;
}

#similarity-score-display{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: black;
	box-shadow: 0px 0px 8px 2px #a8a8a8;
	z-index: 2;
}

#similarity-score-display div{
	color: white;
	font-size: 45px;
	text-align: center;
    margin-top: 60px;
    text-shadow: 1px 1px darkgray;
    font-family: 'Roboto', sans-serif;
}